@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #01161e;
  --white: #ffff;
  --neutral: #124559;
  --secondary: #eff6e0;
  --accent: #aec3b0;
  /* --foreground: #171717; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.6;
  color: var(--accent);
  background: var(--background);
}

.small-container {
  width: 80%;
  margin: 0 auto;
}

.blur {
  position: "absolute";
  height: "100%";
  width: "100%";
  z-index: -1;
  backdrop-filter: "blur(200px)";
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.highlight {
  font-weight: 600;
  color: #00d9a6;
  /* or your brand accent */
}

div {
  scroll-margin-top: 80px;
}

.navHighlight {
  font-weight: 600;

  letter-spacing: 0.25em;
  /* or try 0.3em, 0.4em for even more spacing */
  display: inline-flex;
  align-items: center;
  color: #00d9a6;
  transition: letter-spacing 0.35s ease, box-shadow 0.3s ease;
}