.basicDetails {
  /* background-color: #124559; */
  /* min-width: 320px; */
  max-width: 400px;
  text-align: left;
  color: var(--secondary);
}

.circle {
  background: linear-gradient(135deg,
      rgba(1, 22, 30, 1) 0%,
      rgba(18, 69, 89, 1) 10%,
      rgba(0, 217, 166, 1) 100%);
  width: 270px;
  height: 270px;
  border-radius: 50vw;
  overflow: hidden;
}

.basicDetails ul li {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
}

.basicDetails li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.basicDetails ul li:last-child {
  margin-bottom: 0;
}

.imageCircle {
  border-radius: 50vw;
  /* filter: grayscale(1); */
}

.imageCircle:hover {
  filter: unset;
}

.navLinks {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.highlightTitle {
  font-weight: 600;
}

.secondaryTitle {
  font-weight: 500;
  opacity: 0.9;
}

.nav nav {
  margin-top: 2rem;
}

.navLinksItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

.navLinksItem button {
  color: var(--secondary);
  opacity: 0.5;
  transition: opacity 0.3s ease, letter-spacing 0.3s ease;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  width: 6.5rem;
  /* Fixed width to align lines based on EXPERIENCE */
  text-align: left;
}

.navLinksItem:hover button {
  opacity: 1;
  letter-spacing: 0.2em;
}

.navLinksItem button[data-active="true"] {
  opacity: 1;
  color: #00d9a6;
  letter-spacing: 0.2em;
}

.line {
  height: 1px;
  width: 3rem;
  /* Standardized min size */
  background-color: var(--secondary);
  opacity: 0.5;
  transition: width 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.navLinksItem:hover .line {
  width: 6rem;
  /* Standardized max size */
  opacity: 1;
}

.navLinksItem button[data-active="true"]+.line,
.navLinksItem .line.navHighLight {
  width: 6rem;
  /* Standardized max size */
  background-color: #00d9a6;
  opacity: 1;
}

.picFilter {
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg,
      rgba(1, 22, 30, 1) 0%,
      rgba(18, 69, 89, 1) 10%,
      rgba(0, 217, 166, 1) 100%);
  opacity: 0.4;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  /* <-- Move transition here */
}

.circle:hover .picFilter {
  opacity: 0;
  /* transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition: opacity 0.8s; */
}

.navHighLight {
  width: 4rem;
  background-color: #00d9a6;
  opacity: 1;
}