.card {
  display: flex;
  flex-direction: column;
  width: 100%;

  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: default;
}

.card:hover .highlightTitle {
  font-weight: 600;
  color: #00d9a6; /* or your brand accent */
}
