.projectImg {
  width: 175px;
  height: 150px;
  background-color: var(--white);
  border-radius: 7px;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 15px 15px;

  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: default;
}

.card:hover {
  background-color: #042f42;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover .highlightTitle {
  font-weight: 600;
  color: #00d9a6; /* or your brand accent */
}
